{% extends 'layout/layout.twig'%}
{% block content %}
<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="post" id="myform">
				<div class="form-left">
					<h2>Farmer Registration</h2>

					<div class="form-group" id="camBox" style="width:100%;height:100%;">
						{# POPUP DIALOG BOX TO SHOW LIVE WEBCAM. #}
						<div id="revdivshowimg" style="top:20%;text-align:center;margin:0 auto;">
				
							<div id="camera" style="height:auto;text-align:center;margin:0 auto;"></div>
				
							<div class="form-group">
								<div class="form-row form-row-1">
									<input type="button" value="Ok" id="btAddPicture" onclick="addCamPicture()" />
								</div>
								<div class="form-row form-row-4">
									<input type="button" value="Cancel" onclick="document.getElementById('camBox').style.display = 'none';" />
								</div>
							</div>
								<input type="hidden" id="rowid" />
								<input type="hidden" id="dataurl" />
						</div> 
					</div>
				
					<div class="form-group">
						<div class="form-row form-row-1" id="div_alpha"><img src="public/static/img/300.png" alt="pass picture" width="250" height="250"></div>
						<div class="form-row form-row-4"><input type="button" value="Take Picture" id="alpha" onclick="takeSnapshot(this)" /></div>
					</div>
					<div class="form-row">
						<input type="text" name="full_Name" class="full_Name" id="Full Name" placeholder="Full Name" required>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="number" name="age" class="age" id="age" placeholder="Age" required>
						</div>
						<div class="form-row form-row-4">
							<select name="Gender">
							    <option value="Gender">Gender</option>
							    <option value="Male">Male</option>
							    <option value="Female">Female</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="community" class="community" id="community" placeholder="Community" required>
					</div>
					<div class="form-row">
						<select name="region">
						    <option class="option" selected disabled>Select region</option>
							{% for region in regions %}
						    <option class="option" value="{{ region.regionid }}">{{ region.region }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-row">
						<select name="Household">
						    <option class="option" selected disabled>Select household Status</option>
						    <option class="option" value="household_status">Household Status Head</option>
						    <option class="option" value="household_status_support">Household Status Support</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<input type="number" name="dependents" class="dependents" id="dependents" placeholder="Number of dependents" required>
					</div>
					<div class="form-row">
						<select name="marital Status">
						    <option class="option" selected disabled>Marital Status</option>
						    <option class="option" value="Married">Married</option>
						    <option class="option" value="Single">Single</option>
						    <option class="option" value="Divorce">Divorce</option>
						    <option class="option" value="Widow">Widow</option>
						    <option class="option" value="Widower">Widower</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<select name="employment status">
						    <option value="" selected disabled>Select employment Status</option>
							{% for emp in emps %}
						    <option value="{{ emp.id }}">{{ emp.status }}</option>
							{% endfor %}
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<select name="edu_level">
						 <option class="option" value="" selected disabled>Select educational level</option>
						{% for edu in eduLevel %}
						    <option class="option" value="{{ edu.id }}">{{ edu.status }}</option>
						{% endfor %}
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
				</div>
				<div class="form-right">
					<br>
					<br>
					<br>
					<br>
					<div class="form-row">
						<input type="number" name="yrs in farming" class="yrs in farming" id="yrs in farming" placeholder="Years in Cocoa farming" required>
					</div>
					<div class="form-row">
						<input type="text" name="source of income" class="source of income" id="source of income" placeholder="Other source of income" required>
					</div>
				
					<div class="form-row">
						<select name="main language">
						    <option selected disabled>Select main speaking Language</option>
							{% for lang in language %}
						    <option value="{{ lang.id }}">{{ lang.status }}</option>
							{% endfor %}
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<input type="number" name="no. of farms" class="no. of farms" id="no. of farms" placeholder="Number of farms" required>
					</div>
					<div  class="form-row" id="farms">
						<input type="text" name="farm_1" id="farm_input" placeholder="Farm location">
						<input type="button" id="addfarm" onclick="addFarm()" value="+" />
					  </div>			
					<div class="form-row">
						<select name="trainee status">
						    <option value="trainee status" selected disabled>Select trainee Status</option>
							{% for trainee in trainees %}
						    <option value="{{ tainee.id }}">{{ trainee.status }}</option>
							{% endfor %}
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<select name="level of training">
						    <option value="Level of training">Level of training</option>
						    <option value="1st">1st</option>
						    <option value="2nd">2nd</option>
						    <option value="none">None</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-row">
						<input type="number" name="phone no." id="phone no." class="input-text" required pattern="{2,6}" placeholder="Phone No.">
					</div>
					<div class="form-row">
						<input type="number" name="momo no." id="momo no." class="input-text" required pattern="{2,6}" placeholder="MoMo No.">
					</div>
					<div class="form-row">
						<input type="text" name="buying company" id="buying company" class="input-text"  placeholder="Cocoa buying company">
					</div>
					<div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of Contract.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
{% endblock %}